name: MyFirstWorkflow

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4.2.2
      - name: Welcome Page
        run: echo "My first GitHub Actions job"
      - name: multiline
        run: |
        echo " this is multi line "
        ls -lst
        cat read.me
      - name: generate ASCII artwork
        run: cowsay -f pum " is not a brand" >> pum.txt


